.footer {
    display: flex;
    position:fixed;
    bottom: 0%;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    height: 7%;
    width: 100%;
}

.foot-img {
    margin-left: 10px;
    margin-bottom: 2px;
}
