.movie-details-container {
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 60px;
    margin-bottom: 50px;
}

.movie-details-info {
    padding: 40px 40px 40px 40px;
}

.movie-details-info-img {
    width: 500px;
    height: 315px;
}

.movie-details-title {
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.movie-details-year {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #FFC700;
}

.movie-details-synopse {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
    letter-spacing: -0.015em;
    color: #9E9E9E;
}

.movie-post {
    margin-top: 40px;
    padding: 40px 40px 40px 40px;
}

.movie-button {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.movie-reviews {
    margin-top: 40px;
    padding: 40px 40px 40px 40px;
}

.movie-review-icon {
    margin-right: 15px;
}

.movie-review-user {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.movie-review-text {
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    letter-spacing: -0.015em;
    color: #9E9E9E;
    margin-bottom: 10px;
}