.movie-container {
    padding-top: 50px;
    padding-left: 140px;
    padding-right: 140px;
}

.catalog-movie{
    margin-top: 43px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 33px 20px;
    justify-content: space-between;
}