.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.pagination-item {
    width: 40px;
    height: 40px;
    background-color: #6C6C6C;
    border-radius: 50%;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #FFF !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 10px;

    &.active {
       background: #FFC700; 
    }

    &:hover {
        color: #FFF;
    }
}

.pagination-previous {
    transform: rotate(-180deg);
    margin-right: 25px;
}

.pagination-next {
    margin-left: 15px;
    cursor: pointer;
}

.page-active {
    cursor: pointer;
    a {
        color: #FFC700 !important;
    }
}

.page-inactive {
    pointer-events: none;

    a {
        color: #9E9E9E !important;
    }
}

.pagination {
    align-items: center;
}