.my-button {
    background: #FFC700;
    border-radius: 4px;
}

.my-button-title {
    font-size: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: #000000;
    width: 375px;
    height: 45px;
    font-weight: bold;
}